.sidebar-nav {
	margin-top: 180px;
}

.hero-unit {
	margin-top: 10px;
}

.hero-unit h1 {
	font-size: 40px;
	text-align: center;
	margin-top: 0;
}

.medgraph {
	width: 450px;
	height: 450px;
}

.graphcontrols {
	margin-left: 132px;
	position: relative;
	top: -32px;
}

.mousepos {
	margin-left: 5px;
	padding-top: 4px;
	font-size: small;
}

label {
	display: inline;
	margin-left: 1em;
}

input {
	margin-top: 0px !important;
}
