.sidebar-nav {
	margin-top: 180px;
}

.hero-unit {
	margin-top: 10px;
}

.hero-unit h1 {
	font-size: 40px;
	text-align: center;
	margin-top: 0;
}

.medgraph {
	width: 450px;
	height: 450px;
	clear: right;
}

.graphcontrols {
	margin-left: 132px;
	position: relative;
	top: -32px;
}

.mousepos {
	margin-left: 5px;
	padding-top: 4px;
	font-size: small;
}

label {
	display: inline;
	margin-left: 1em;
}

input {
	margin-top: 0px !important;
}

.operator {
	font-family: Serif;
	line-height: 1.5em;
	font-size: 14pt;
	float: left;
	padding: 1em;
}

.matrix {
	font-family: Serif;
	line-height: 1.5em;
	font-size: 14pt;
	border-left: 2px solid black;
	border-right: 2px solid black;
	float: left;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 1em;
}

.matrixtop {
	border-top: 2px solid black;
	width: 4px;
}

.matrixbottom {
	border-bottom: 2px solid black;
	width: 4px;
}

.matrixnum {
	font-family: Serif;
	font-size: 14pt !important;
	width: 2em;
	text-align: center;
	border: none !important;
	background: none !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.matrixresult {
	height: 22px;
	padding: 4px 6px;
	margin-bottom: 10px;
	color: #555;
	vertical-align: middle;
}

.leftc {
	color: #f44 !important;
}

.rightc {
	color: #44f !important;
}

